body{
    margin: 0px;
    display:flex;
    flex-direction: column;
}

.logo{
    height: 125px;
}

.grid-img{
    width: 400px;
}

.header{
    display: flex;
    justify-content: space-between;
    font-size: 40px;
    font-weight: bolder;
    margin-left: 30px;
    margin-right: 30px;
}

.left-header{
    display: flex;
    align-items: center;
    gap: 10px
}

.links{
    display: flex;
    font-size: 18px;
    align-items: center;
    gap: 20px;
}

.links > a{
    text-decoration: none;
    color:black;
}

.links > a:hover{
    color: grey;
}

.content-1 > img{
    height: 300px;
    width: 600px;
    object-fit: cover;
    object-position: 0, 20px;
    flex:0;
}

.content-1{
    display:flex;
    justify-content: center;
    gap: 25px;
    height: 420px;
    align-items: center;
}
.c1-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 700px;
}
.c1-left > button{
    height: 50px;
    width: 200px;
}

.crop-grid{
    width: 250px;
}

.grid-img{
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.content-2{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(184, 181, 181);
}
.bott-grid{
    display: flex;
}
.grid-cont{
    display:flex;
    flex-direction: column;
    align-items: center;
}