.logo{
    height: 125px;
}

.content-1 > img{
    width: 650px;
}

.grid-img{
    width: 400px;
}

.header{
    display: flex;
    justify-content: space-between;
    font-size: 40px;
    font-weight: bolder;
}

.left-header{
    display: flex;
}

.links{
    display: flex;
    font-size: 18px;
}